 <header class="masthead" style="background-image: url('/img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Hakkımda...</h1>
            <span class="subheading">(Paralel bir evrende hatasız kod geliştirdiğimi söylüyorlar...)</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Adım Ömer Faruk Aydın. Yaklaşık 17 yaşımdan beri yazılım geliştiriyorum. Aynı zamanda ucundan müzisyenim.Bilgisayar oyunlarını hem geliştirmeye hem de oynamaya bayılırım.(darksouls oyunları hariç -_-)</p>

        <p>Odağımın ve ilgimin büyük kısmını oyun geliştirmeye harcıyorum. Unity ve lua ile iyi anlaşıyorum. Aynı zamanda c++'ın grafik kütüphaneleriyle ufak programlar geliştirmekteyim.(Saç beyazlatma garantili.)</p>
        
        <p>Genellikle platformer ve fps oyunlarıyla ilgiliyim. Ayrıca sıkı bir rpg oyuncusuyum.(souls oyunları hariç...) Geliştirdiğim oyunlar da haliyle bu yönde oluyor.</p>
        
        <p>Bunların yanında java, javascript ve arduino ile çalkantılı bir ilişkimiz var. Çok da kurcalalamamak lazım.(web programlama hariç ne olursa olsun...)</p>

      </div>
    </div>
  </div>

  <hr>