  <header class="masthead" style="background-image: url('/img/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Benimle İletişime Geçin!</h1>
            <span class="subheading">Souls Like oyun geliştirmemi isteyen iletiler dikkate alınmayacaktır...(hehehehe)</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>CS'de -mid to b- yapacak adam mı lazım? Lolde prenizi sizi sattı mı? Yazdığınız oyunda optimizasyon sorunu mu yaşıyorsunuz? Evde köftelik bulgur mu kalmamış? Hemen iletişime geçin!</p>
        
        <p>Email:omerffarukaydin@gmail.com</p>

        <p>Github: github.com/Lamaney</p>
      </div>
    </div>
  </div>

  <hr>