@model IEnumerable<Isg_Mvc.Models.Blog>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        @foreach (var item in Model)
        {
            <div class="post-preview">
          <a href="isgnedir.html">
            <h2 class="post-title">
              @item.Title
            </h2>
            <h3 class="post-subtitle">
              @item.Subtitle
            </h3>
          </a>
          <p class="post-meta">@item.Author.Name tarafından @item.CreateTime 'da yayınlandı.
        </div>
        <hr>
        }
        
        
</div>